/*spacings*/


.mb64 {
  margin-bottom: 64px!important;
}

.mb56 {
  margin-bottom: 56px!important;
}

.mb48 {
  margin-bottom: 48px!important;
}

.mb40 {
  margin-bottom: 40px!important;
}

.mb32 {
  margin-bottom: 30px!important;
}

.mb16 {
  margin-bottom: 15px!important;
}

.mb8 {
  margin-bottom: 10px!important;
}

.mb0 {
  margin-bottom: 5px!important;
}


.mr30 {
  margin-right: 30px!important;
}

.mr16 {
  margin-right: 16px!important;
}

.mr10 {
  margin-right: 10px!important;
}

.mr5 {
  margin-right: 5px!important;
}

.ma {
  margin: auto;
}

.noPadding {
  padding: 0!important;
}